//
   Created by Ahmed on 3/4/2016.

extends layout
block extraHeader
   script(src="/javascript/other/drop-down.js")
block content
   h1= profileUser.firstName + ' ' + profileUser.lastName
   if user && (user.id == profileUser.id)
      p shape (not used yet):
      select(class='shape', value="#{profileUser.shape}")
         each val, index in {1:'rectangle',2:'circle',3:'triangle'}
            if profileUser.shape == index
               option(selected,value=index) #{val}
            else
               option(value=index) #{val}
      br
      br
      p Hair Color:
      select(class='color', value="#{profileUser.color}")
         each val, index in {1:'green',2:'brown'}
            if profileUser.color == index
               option(selected,value=index) #{val}
            else
               option(value=index) #{val}
   else
      p shape (not used yet):
      p #{profileUser.shape}
      p Hair Color:
      p #{profileUser.color}
   br
   br
   each user in users
      a(href='#{user.id}') #{user.firstName+' '+user.lastName}
      br
