//
   Created by Ahmed on 3/4/2016.
extends layouts/simple
block extra-head
    script(src="/javascript/other/drop-down.js")
block content
    section
      .container
         .row
            .col-lg-12
               .text-center
                   h1= profileUser.firstName + ' ' + profileUser.lastName
                   if userId && (userId == profileUser.id)
                       p Hair Color:
                       select(class='color', value="#{profileUser.color}")
                          each val, index in {1:'green',2:'brown'}
                             if profileUser.color == index
                                 option(selected,value=index) #{val}
                             else
                                 option(value=index) #{val}
                   else
                       p Hair Color:
                       p #{profileUser.color}
    section
      .container
         .row
            .col-lg-12.text-center
               .text-center
                  each user in users
                     h3
                        a(href='#{user.id}') #{user.firstName + ' ' + user.lastName}
                        br