//
   Created by Ahmed on 3/4/2016.

extends layout
block extraHeader
   script(src="/javascripts/addnewconvo.js")
block content
   h1= profileUser.firstName + ' ' + profileUser.lastName
   if user && (user.id == profileUser.id)
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
      script(src="/javascripts/dropdown.js")
      p shape:
      select(class='shape', value="#{profileUser.shape}")
         each val, index in {1:'rectangle',2:'circle',3:'triangle'}
            if profileUser.shape == index
               option(selected,value=index) #{val}
            else
               option(value=index) #{val}
      p color:
      select(class='color', value="#{profileUser.color}")
         each val, index in {1:'green',2:'red',3:'black'}
            if profileUser.color == index
               option(selected,value=index) #{val}
            else
               option(value=index) #{val}
   else
      p shape:
      p #{profileUser.shape}
      p color:
      p #{profileUser.color}
   br
   br
   each user in users
      a(href='#{user.id}') #{user.firstName+' '+user.lastName}
      br
