//
   Created by Ahmed on 3/4/2016.

extends layout

block content
   h1= profileUser.firstName + ' ' + profileUser.lastName
   if user && (user.id == profileUser.id)
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
      script(src="/javascripts/dropdown.js")
      p shape:
      select(class='shape', value="#{profileUser.shape}")
         each val in [1, 2, 3]
            if profileUser.shape == val
               option(selected) #{val}
            else
               option #{val}
      p color:
      select(class='color', value="#{profileUser.color}")
         each val in [1, 2, 3]
            if profileUser.color == val
               option(selected) #{val}
            else
               option #{val}
   else
      p shape:
      p #{profileUser.shape}
      p color:
      p #{profileUser.color}
   br
   br
   each user in users
      a(href='#{user.id}') #{user.firstName+' '+user.lastName}
      br
